<div class="container shadow-lg bg-white rounded">
  <h1>Payment Form</h1>
<hr>
  <div class="row">

    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" (input)='onNameChange($event.target.value)'/>
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>{{name | titlecase}}</div>
    </div>
  </div>

  <div class="row">

    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)='onDateChange($event.target.value)'/>
    </div>

    <div class="col">
      <label><b>Date</b></label>
      <div>{{date | date}}</div>
    </div>
  </div>

  <div class="row">

    <div class="form-group col">
      <label>Amount</label>
      <input type="number" class="form-control" (input)='onAmountChange($event.target.value)'/>
    </div>

    <div class="col">
      <label><b>Amount</b></label>
      <div>{{amount | currency:'INR'}}</div>
    </div>
  </div>
 
</div>